$background-color-1: blue;
$background-color-2: darkblue;
$background-color-3: lightblue;
$principal-font: 'Times New Roman', serif;
$secondary-font: 'Comic Sans MS', cursive;
$box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);