$background-color-1: red;
$background-color-2: darkred;
$background-color-3: pink;
$principal-font: Arial, sans-serif;
$secondary-font: 'Courier New', monospace;
$box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.5);